.main__title{
  font-family: 'Orbitron', sans-serif;
  color:#CDD977;
  line-height: 45px;
}
.job__title{
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  color:#CDD977;
}
.hamb__menu{
  font-size: 20px;
  background-image: url(../images/ico-menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top:0;
  right:0;
  z-index: 2;
  margin:10px;
  cursor: pointer;
}



/* Modal Content/Box */


.modal {
  position:fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100%;
  width:100%;
  top:0;
  left:0;
  transform:scale(0);
  z-index:1;
  background-color: rgba(0, 0, 0, 0.733);
  &.one {
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    .modal {
      transform:scale(0);
      animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
    display:flex;
  }
  &.out {
    transform:scale(1);
    animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    .modal {
      animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
    display:none;
  }
}


.modal-content {
  width: 80%;
  height:80%;
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #CDD977;
  font-size: 1.5em;
  background-color: $color-bg;
  margin: 4% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal__list{
  list-style: none;
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal__item{
  display:inline-block;
  padding:10px;

}
.link{
  text-decoration: none;
  cursor: pointer;
  color: #CDD977;
  &:hover{
    color: #8377d9;
  }
  &:visited{
    color: rgb(130, 139, 55);
    &:hover{
      color: #8377d9;
    }
  }
}
/* The Close Button */
.close {
  color: #CDD977;
  font-size: 28px;
  font-weight: bold;
  position:absolute;
  top:calc(10vh + 5px);
  right:calc(10vw + 20px);
}

.close:hover,
.close:focus {
  color: #8377d9;
  text-decoration: none;
  cursor: pointer;
}


@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}
