.info__header{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:50px;
  background-color: #131313;
  @media (min-width: 768px){
    width:50px;
    height:100vh;
  }
}
.info__nav{
  height: 100%;
}
.nav__list, .links, .rrss{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px){
    justify-content: space-between;
    flex-direction: column;
  }
}
.nav__list{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  @media (min-width: 768px){
    flex-direction: column;
  }
}

.home__link-info{
  display: inline-block;
  margin:8px;
  width:18px;
  height: 1px;
  padding-top:20px;
  padding-left:10px;
  overflow: hidden;
  background-image: url(../images/home.svg);
  @include icon-bg;
  &:hover{
    background-image: url(../images/home-hover.svg);
  }
  &:active{
    background-image: url(../images/home-hover.svg);
  }
  @media (min-width: 768px){
    width:35px;
    padding-top:25px;
  }
}
.about__link-info{
  display: inline-block;
  margin:8px;
  width: 18px;
  height: 1px;
  padding-top:19px;
  padding-left:10px;
  overflow: hidden;
  background-image: url(../images/user.svg);
  @include icon-bg;
  cursor: pointer;
  &:hover{
    background-image: url(../images/user-hover.svg);
  }
  &:active{
    background-image: url(../images/user-hover.svg);
  }
  @media (min-width: 768px){
    margin:15px;
    width:35px;
    padding-top:25px;
  }
}
.projects__link-info{
  margin:8px;
  width: 18px;
  height: 1px;
  padding-top:19px;
  padding-left:10px;
  overflow: hidden;
  background-image: url(../images/eye-regular.svg);
  @include icon-bg;
  display: inline-block;
  cursor: pointer;
  &:hover{
    background-image: url(../images/eye-hover.svg);
  }
  &:active{
    background-image: url(../images/eye-hover.svg);
  }
  @media (min-width: 768px){
    margin:12px;
    width:35px;
    padding-top:25px;
  }
}
.contact__link-info{
  margin:10px;
  width: 18px;
  height: 1px;
  padding-top:24px;
  padding-left:10px;
  overflow: hidden;
  background-image: url(../images/email.svg);
  @include icon-bg;
  display: inline-block;
  cursor: pointer;
  &:hover{
    background-image: url(../images/email-hover.svg);
  }
  &:active{
    background-image: url(../images/email-hover.svg);
  }
  @media (min-width: 768px){
    margin:12px;
    width:35px;
    padding-top:25px;
  }
}
.twitter__link-info{
  margin:6px 8px;
  width: 8px;
  height: 1px;
  padding-top:14px;
  padding-left:10px;
  overflow: hidden;
  background-image: url(../images/twitter.svg);
  @include icon-bg;
  display: inline-block;
  cursor: pointer;
  &:hover{
    background-image: url(../images/twitter-hover.svg);
  }
  &:active{
    background-image: url(../images/twitter-hover.svg);
  }
  @media (min-width: 768px){
    margin:6px 15px;
    width:35px;
    padding-top:25px;
  }
}
.linkedIn__link-info{
  display:inline-block;
  margin:6px 8px;
  width: 8px;
  height: 1px;
  padding-top:14px;
  padding-left:10px;
  overflow: hidden;
  background-image: url(../images/linkedin2.svg);
  @include icon-bg;
  cursor: pointer;
  &:hover{
    background-image: url(../images/linkedin2-hover.svg);
  }
  &:active{
    background-image: url(../images/linkedin2-hover.svg);
  }
  @media (min-width: 768px){
    margin:6px 15px;
    width:35px;
    padding-top:25px;
  }
}
.medium__link-info{
  display:inline-block;
  margin:6px 8px;
  width: 8px;
  height: 1px;
  padding-top:14px;
  padding-left:10px;
  overflow: hidden;
  background-image: url(../images/medium-m-brands.svg);
  @include icon-bg;
  cursor: pointer;
  &:hover{
    background-image: url(../images/medium-hover.svg);
  }
  &:active{
    background-image: url(../images/medium-hover.svg);
  }
  @media (min-width: 768px){
    margin:6px 15px;
    width:35px;
    padding-top:25px;
  }
}
.github__link-info{
  display:inline-block;
  margin:6px 8px;
  width: 8px;
  height: 1px;
  padding-top:14px;
  padding-left:10px;
  overflow: hidden;
  background-image: url(../images/github2.svg);
  @include icon-bg;
  cursor: pointer;
  &:hover{
    background-image: url(../images/github2-hover.svg);
  }
  &:active{
    background-image: url(../images/github2-hover.svg);
  }
  @media (min-width: 768px){
    margin:6px 15px;
    width:35px;
    padding-top:25px;
  }
}
