@import 'components/mixins';
@import 'core/mainBG';
@import 'partials/hero';
@import 'partials/about';
@import 'partials/projects';
@import 'partials/contact';
@import 'partials/info-header';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html, body {
  height: 100%;
}

.index__page {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.info__page{
  background-color: $color-bg;
}
.hidden{
  display: none;
}

