<section class="about" id="about__sect">
  <h2 class="about__title">About Me</h2>
  <div class="about__grid">
    <article class="personal__info">
      <img src="assets/images/eva-1x1.jpg" alt="Eva Marco" class="about__img" />
      <p class="about__text">
        Descubrí la programación gracias a un Record Guinness y me enamoré. Después de terminar mis estudios de Arquitectura Técnica y tras años trabajando cara al público sentí que era momento de cambiar de rumbo. Así que tomé la decisión de darle una vuelta a mi vida, apostar por este mundo nuevo tan sorprendente y embarcarme en esta aventura para convertirme en desarrolladora Front-End.

        Durante el viaje y gracias al programa de Adalab, descubrí que me encanta aprender cosas nuevas y además disfruto mucho ayudando a los demás.
        Ahora manejo tecnologías como HTML, CSS, JavaScript, Git entre otras.

        Quiero seguir avanzando en esta travesía, continuar descubriendo cosas nuevas y ver hasta donde me puede llevar.
      </p>
      <p> Esta página aún se encuentra en construcción. </p>
    </article>
    <article class="skills">
    </article>
  </div>
</section>
