<section class="projects" id="projects__sect">
  <h2 class="projects__title">Projects</h2>
  <div class="project__grid">
    <div class="project1 project">
      <div class="project__image">
        <img
          class="image"
          src="assets/images/tandemCode.png"
          alt="Tande Code web Page"
        />
      </div>
      <div class="project__info modal">
        <div class="modal-content">
          <span class="close close-project">&times;</span>
          <img
            class="image-modal"
            src="assets/images/tandemCode.png"
            alt="Tande Code web Page"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            architecto qui nisi, blanditiis corrupti cupiditate natus sunt quasi
            laudantium eius sapiente, aliquid debitis ullam velit vero ab
            beatae, doloremque veritatis.
          </p>
          <a href="http://beta.adalab.es/g-m1-tandemcode/" target="__blank"
            >Enlace</a
          >
        </div>
      </div>
    </div>
    <div class="project2 project">
      <div class="project__image">
        <img
          class="image"
          src="assets/images/anonimusProxi.png"
          alt="Anonimus Proxi Page"
        />
      </div>
      <div class="project__info modal">
        <div class="modal-content">
          <span class="close close-project">&times;</span>
          <div class="project__image-modal">
            <img
              class="image-modal"
              src="assets/images/anonimusProxi.png"
              alt="Anonimus Proxi Page"
            />
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            architecto qui nisi, blanditiis corrupti cupiditate natus sunt quasi
            laudantium eius sapiente, aliquid debitis ullam velit vero ab
            beatae, doloremque veritatis.
          </p>
          <a
            href="http://beta.adalab.es/m1-evaluacion-final-EvaMarco/"
            target="__blank"
            >Enlace</a
          >
        </div>
      </div>
    </div>
    <div class="project3 project">
      <div class="project__image">
        <img
          class="image"
          src="assets/images/AwesomeCards.png"
          alt="Awesome Profile Cards Web page"
        />
      </div>
      <div class="project__info modal">
        <div class="modal-content">
          <span class="close close-project">&times;</span>
          <img
            class="image-modal"
            src="assets/images/AwesomeCards.png"
            alt="Awesome Profile Cards Web page"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            architecto qui nisi, blanditiis corrupti cupiditate natus sunt quasi
            laudantium eius sapiente, aliquid debitis ullam velit vero ab
            beatae, doloremque veritatis.
          </p>
          <a href="http://beta.adalab.es/G_m2_Script-Tease/" target="__blank"
            >Enlace</a
          >
        </div>
      </div>
    </div>
    <div class="project4 project">
      <div class="project__image">
        <img
          class="image"
          src="assets/images/bingo.png"
          alt="Bingo Exercse Web page"
        />
      </div>
      <div class="project__info modal">
        <div class="modal-content">
          <span class="close close-project">&times;</span>
          <img
            class="image-modal"
            src="assets/images/bingo.png"
            alt="Bingo Exercse Web page"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cum
            fugiat, minima voluptatum incidunt laboriosam asperiores quos porro
            quibusdam excepturi. Impedit ab consectetur officiis, cum iusto
            voluptatem similique maxime hic?
          </p>
          <a href="https://evamarco.github.io/Bingo/">Enlace</a>
        </div>
      </div>
    </div>
    <div class="project5 project">
      <div class="project__image">
        <img
          class="image"
          src="assets/images/diversidad.png"
          alt="Css exercise"
        />
      </div>
      <div class="project__info modal">
        <div class="modal-content">
          <span class="close close-project">&times;</span>
          <img
            class="image-modal"
            src="assets/images/diversidad.png"
            alt="Css exercise"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cum
            fugiat, minima voluptatum incidunt laboriosam asperiores quos porro
            quibusdam excepturi. Impedit ab consectetur officiis, cum iusto
            voluptatem similique maxime hic?
          </p>
          <a href="http://beta.adalab.es/m1-evaluacion-final-bis-EvaMarco/"
            >Enlace</a
          >
        </div>
      </div>
    </div>
    <div class="project6 project">
      <div class="project__image">
        <img
          class="image"
          src="assets/images/series.png"
          alt="Search web page"
        />
      </div>
      <div class="project__info modal">
        <div class="modal-content">
          <span class="close close-project">&times;</span>
          <img
            class="image-modal"
            src="assets/images/series.png"
            alt="Search web page"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cum
            fugiat, minima voluptatum incidunt laboriosam asperiores quos porro
            quibusdam excepturi. Impedit ab consectetur officiis, cum iusto
            voluptatem similique maxime hic?
          </p>
          <a href="http://beta.adalab.es/m2-evaluacion-final-EvaMarco/"
            >Enlace</a
          >
        </div>
      </div>
    </div>
    <div class="project7 project">
      <div class="project__image">
        <img
          class="image"
          src="assets/images/number.png"
          alt="Guess the number game web app"
        />
      </div>
      <div class="project__info modal">
        <div class="modal-content">
          <span class="close close-project">&times;</span>
          <img
            class="image-modal"
            src="assets/images/number.png"
            alt="Guess the number game web app"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cum
            fugiat, minima voluptatum incidunt laboriosam asperiores quos porro
            quibusdam excepturi. Impedit ab consectetur officiis, cum iusto
            voluptatem similique maxime hic?
          </p>
          <a href="http://beta.adalab.es/m2-evaluacion-intermedia-EvaMarco/"
            >Enlace</a
          >
        </div>
      </div>
    </div>
    <div class="project8 project">
      <div class="project__image"></div>
      <div class="project__info"></div>
    </div>
    <div class="project9 project">
      <div class="project__image"></div>
      <div class="project__info"></div>
    </div>
  </div>
</section>
