<header class="info__header">
    <nav class="info__nav">
      <ul class="nav__list">
        <li class="nav__item home__info">
            <a href="index.html" class="link home__link-info">Home</a>
        </li>
        <li class="nav__item sections__info">
          <ul class="links">
            <li class="nav__item about__info">
              <a href="#about__sect" class="link about__link-info">About Me</a>
            </li>
            <li class="nav__item projects__info">
                <a href="#projects__sect" class="link projects__link-info">Projects</a>
            </li>
            <li>
                <a href="info.html#contact__sect" class="link contact__link-info">Contact</a>
            </li>
          </ul>
        </li>
        <li class="nav__item rrss__info">
          <ul class="rrss">
            <li>
                <a href="https://twitter.com/MigaraArcher" class="link twitter__link-info" target="__blank">Twitter</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/evamarcodominguez/" class="link linkedIn__link-info" target="__blank">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/EvaMarco" class="link github__link-info" target="__blank">Github</a>
            </li>
            <li><a href="https://medium.com/@evamarcod" class="link medium__link-info" target="__blank">Medium</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
