<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Orbitron&display=swap" rel="stylesheet">
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="info__page">
  <header class="info__header">
    <nav class="info__nav">
      <ul class="nav__list">
        <li class="nav__item home__info">
            <a href="index.html" class="link home__link-info">Home</a>
        </li>
        <li class="nav__item">
          <ul class="links">
            <li class="nav__item about__info">
              <a href="#about__sect" class="link about__link-info">About Me</a>
            </li>
            <li class="nav__item projects__info">
                <a href="#projects__sect" class="link projects__link-info">Projects</a>
            </li>
            <li>
                <a href="info.html#contact__sect" class="link contact__link-info">Contact</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <ul class="rrss">
            <li>
                <a href="https://twitter.com/MigaraArcher" class="link twitter__link-info" target="__blank">Twitter</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/evamarcodominguez/" class="link linkedIn__link-info" target="__blank">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/EvaMarco" class="link github__link-info" target="__blank">Github</a>
            </li>
            <li><a href="https://medium.com/@evamarcod" class="link medium__link-info" target="__blank">Medium</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <section class="about" id="about__sect">
    <h2 class="about__title">About Me</h2>
    <img src="assets/images/eva-1x1.jpg" alt="Eva Marco" class ="about__img">
    <p class="about__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque sed enim cupiditate voluptatibus quis deleniti modi a temporibus dolor sint fuga rem, laudantium voluptatum consequatur soluta error libero. Molestias.
    </p>
    <p class="about__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque sed enim cupiditate voluptatibus quis deleniti modi a temporibus dolor sint fuga rem, laudantium voluptatum consequatur soluta error libero. Molestias.
      </p>
  </section>
  <section class="projects" id="projects__sect">
    <h2 class="projects__title">Projects</h2>
  </section>
  <section class="contact" id="contact__sect">
    <h2 class="contact__title">Contact</h2>
  </section>
  <script src="assets/js/main.js"></script>
</body>
</html>
